html {
    background-color: black;
}

#content {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 85% 1fr;
}

.header-container {
    position: fixed;
    grid-column: 1/2;
    grid-row: 1/2;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 50px 500px 1fr;
    
}

#logo-link {
    padding-top: 5px;
}

.logo {
    grid-column: 2/3;
    width: 450px;
}

.nav-links {
    grid-column: 2/3;
    grid-row: 3/4;
}

nav a {
    color: #00ce53;
}

.content-grid {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 50px 600px 1fr;
}

#me {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
    border-radius: 20%;
    border-width: 5px;
    border-color:#00ce53;
    border-style: solid;
    
}

#home-intro {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
}

#intro-heading {
    color:#00ce53;
}

#home-intro p {
    color: whitesmoke;
}

footer {
    margin-top: 20px;
    grid-column: 1/3;
    grid-row: 2/3;
}